::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: $amarillo;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    //background-image: url("/public/images/patterns/pattern.png");
    min-width: 300px;
}

#logo {
    width: 300px;
    padding: 10px;
    filter: drop-shadow(0 0 15px rgba(255, 166, 0, 0.808));
}

.display-3 {
    font-family: $title-font;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-top: 20px;
}

.transparent {
    background: $transparent-background;
    box-shadow: $black-inset-shadow-transparent;
    backdrop-filter: blur(1px);
}

@for $i from 0 through 50 {
    .border-radius-#{$i} {
        @if $i==0 {
            border-radius: 0;
        }

        @else if $i % 10==0 {
            border-radius: #{$i}px;
        }
    }
}