$title-font: 'Bebas Neue',
cursive;

$text-font: 'Oswald',
sans-serif;


$amarillo: #ffc107;
$blanco: rgb(247, 247, 247);


$black-shadow-9: 0 0 9px #000000;
$black-shadow-2: 0 0 2px #000000;


$black-inset-shadow-4: inset 0 0 4px #000000;
$black-inset-shadow-10: inset 0 0 10px #000000;
$black-inset-shadow-transparent: inset 0px 1px 24px -1px rgba(0, 0, 0, 0.1);


$transparent-background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
linear-gradient(145.54deg, rgba(255, 255, 255, 0.4) 9.57%, rgba(255, 255, 255, 0) 70.35%),
rgba(255, 255, 255, 0.1);