<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - Just Call Fast</title>
    <link rel="icon" href="/public/images/icons/JustCallFastLogo.svg" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>

<body>
    <!--Page´s Header Navigation Bar-->
    <ul class="header">
        <li class="header__item">
            <a href="/index.html">Home</a>
        </li>

        <li class="header__item">
            <a href="productos.html">Productos</a>

            <ul>
                <li class="header__item--subitem">
                    <a href="productos.html#offersAndReleases">Últimos Lanzamientos y Ofertas</a>
                </li>

                <li class="header__item--subitem">
                    <a href="/index.html#category">Categorías</a>
                </li>
            </ul>
        </li>

        <li class="header__item">
            <a href="nosotros.html">Nosotros</a>
        </li>

        <li class="header__item">
            <a href="contactenos.html">Contáctenos</a>
        </li>

        <li class="header__item--icon">
            <a href="perfil.html">
                <img src="/public/images/icons/user.svg" alt="User Icon" />
            </a>
        </li>

        <li class="header__item--icon">
            <a href="carrito.html">
                <img src="/public/images/icons/cart.svg" alt="Cart Icon" />
            </a>
        </li>
    </ul>

    <h1>Aquí se visualizará el carrito de compras del usuario</h1>

    <!--Page´s Footer-->
    <footer class="footer">
        Copyright © 2021 | Just Call Fast. All rights reserved.
    </footer>
</body>

</html>