<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctenos - Just Call Fast</title>
    <link rel="icon" href="/public/images/icons/JustCallFastLogo.svg" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>

<body>
    <!--Page´s Header Navigation Bar-->
    <ul class="header">
        <li class="header__item">
            <a href="/index.html">Home</a>
        </li>

        <li class="header__item">
            <a href="productos.html">Productos</a>

            <ul>
                <li class="header__item--subitem">
                    <a href="productos.html#offersAndReleases">Últimos Lanzamientos y Ofertas</a>
                </li>

                <li class="header__item--subitem">
                    <a href="/index.html#categories">Categorías</a>
                </li>
            </ul>
        </li>

        <li class="header__item">
            <a href="nosotros.html">Nosotros</a>
        </li>

        <li class="header__item">
            <a href="contactenos.html">Contáctenos</a>
        </li>

        <li class="header__item--icon">
            <a href="perfil.html">
                <img src="/public/images/icons/user.svg" alt="User Icon" />
            </a>
        </li>

        <li class="header__item--icon">
            <a href="carrito.html">
                <img src="/public/images/icons/cart.svg" alt="Cart Icon" />
            </a>
        </li>
    </ul>

    <!--Contact Formulary-->
    <form class="contact-form-style">

        <fieldset>
            <h2>
                ¡INGRESE SU CONSULTA!
            </h2>

            <div>
                <input type="text" id="name" name="name" placeholder="Nombre">
            </div>

            <div>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico">
            </div>

            <select id="province" name="province">
                <option value="none">Seleccione su Provincia</option>
                <option value="buenos_aires">Buenos Aires</option>
                <option value="catamarca">Catamarca</option>
                <option value="chaco">Chaco</option>
                <option value="chubut">Chubut</option>
                <option value="cordoba">Córdoba</option>
                <option value="corrientes">Corrientes</option>
                <option value="entre_rios">Entre Ríos</option>
                <option value="formosa">Formosa</option>
                <option value="jujuy">Jujuy</option>
                <option value="la_pampa">La Pampa</option>
                <option value="la_rioja">La Rioja</option>
                <option value="mendoza">Mendoza</option>
                <option value="misiones">Misiones</option>
                <option value="neuquen">Neuquén</option>
                <option value="rio_negro">Río Negro</option>
                <option value="salta">Salta</option>
                <option value="san_juan">San Juan</option>
                <option value="san_luis">San Luis</option>
                <option value="santa_cruz">Santa Cruz</option>
                <option value="santa_fe">Santa Fe</option>
                <option value="santiago_del_estero">Santiago del Estero</option>
                <option value="tierra_del_fuego">Tierra del Fuego</option>
                <option value="tucuman">Tucumán</option>
            </select>

            <br>
            <textarea id="message" name="message" placeholder="Mensaje"></textarea>
            <br>

            <input type="submit" value="Enviar Mensaje">
        </fieldset>
    </form>

    <!--Social Media Accounts-->
    <div class="social-media">
        <a href="https://www.facebook.com/Just-Call-Fast-106379838279721" target="_blank">
            <img src="/public/images/icons/facebook.svg" alt="Facebook Icon" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=542235182817" target="_blank">
            <img src="/public/images/icons/whatsapp.svg" alt="WhatsApp Icon" />
        </a>

        <a href="https://instagram.com/justcallfast?igshid=144hfg73922sy" target="_blank">
            <img src="/public/images/icons/instagram-icon.svg" alt="Instagram Icon" />
        </a>

    </div>

    <!--Page´s Footer-->
    <footer class="footer">
        Copyright © 2021 | Just Call Fast. All rights reserved.
    </footer>

</body>

</html>