<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Just Call Fast</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

    <link rel="icon" href="/public/images/icons/JustCallFastLogo.svg" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>

<body>
    <!--Page´s Header Navigation Bar-->
    <header>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-warning">
            <div class="container-fluid">
                <a class="navbar-brand text-dark d-lg-none" href="#">Just Call Fast</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarsExample05">
                    <ul class="navbar-nav text-center align-items-center mb-2 mb-lg-0">
                        <li class="nav-item d-none d-xl-block">
                            <a class="nav-link text-dark" aria-current="page" href="/index.html">
                                <img src="/public/images/logo.png" alt="Logo">
                            </a>
                        </li>
                        <li class="nav-item d-none d-lg-block d-xl-none">
                            <a class="nav-link text-dark" aria-current="page" href="/index.html">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="productos.html" id="dropdown05"
                                data-bs-toggle="dropdown" aria-expanded="false">Productos</a>

                            <ul class="dropdown-menu shadow-lg text-center bg-warning" aria-labelledby="dropdown05">
                                <li>
                                    <a class="dropdown-item px-3" href="productos.html#offersAndReleases">Últimos
                                        Lanzamientos y Ofertas</a>
                                </li>
                                <li><a class="dropdown-item px-3" href="/index.html#categories">Categorías</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="contactenos.html">Contáctenos</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark d-inline p-5" href="./views/perfil.html">
                                <img src="public/images/icons/user.svg" class="icon" alt="User Icon" />
                            </a>
                            <a class="nav-link text-dark d-inline p-5" href="./views/carrito.html">
                                <img src="public/images/icons/cart.svg" class="icon" alt="Cart Icon" />
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Social Media Accounts-->
    <div class="social-media">
        <a href="https://www.facebook.com/Just-Call-Fast-106379838279721" target="_blank">
            <img src="/public/images/icons/facebook.svg" alt="Facebook Icon" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=542235182817" target="_blank">
            <img src="/public/images/icons/whatsapp.svg" alt="WhatsApp Icon" />
        </a>

        <a href="https://instagram.com/justcallfast?igshid=144hfg73922sy" target="_blank">
            <img src="/public/images/icons/instagram-icon.svg" alt="Instagram Icon" />
        </a>

    </div>

    <!--Page´s Footer-->
    <footer class="footer">
        Copyright © 2021 | Just Call Fast. All rights reserved.
    </footer>
</body>

</html>