<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Just Call Fast</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>

    <link rel="icon" href="/public/images/icons/JustCallFastLogo.svg" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>

<body>
    <!--Page´s Header Navigation Bar-->
    <header>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-warning">
            <div class="container-fluid">
                <a class="navbar-brand text-dark d-lg-none" href="#">Just Call Fast</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarsExample05">
                    <ul class="navbar-nav text-center align-items-center mb-2 mb-lg-0">
                        <li class="nav-item d-none d-xl-block">
                            <a class="nav-link text-dark" aria-current="page" href="/index.html">
                                <img src="/public/images/logo.png" alt="Logo">
                            </a>
                        </li>
                        <li class="nav-item d-none d-lg-block d-xl-none">
                            <a class="nav-link text-dark" aria-current="page" href="/index.html">HOME</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="productos.html" id="dropdown05"
                                data-bs-toggle="dropdown" aria-expanded="false">Productos</a>

                            <ul class="dropdown-menu shadow-lg text-center bg-warning" aria-labelledby="dropdown05">
                                <li><a class="dropdown-item px-3" href="#accesoriosTV">ACCESORIOS PARA TV</a></li>
                                <li><a class="dropdown-item px-3" href="#almacenamiento">ALMACENAMIENTO</a></li>
                                <li><a class="dropdown-item px-3" href="#audio">AUDIO</a></li>
                                <li><a class="dropdown-item px-3" href="#cargadores">CARGADORES</a></li>
                                <li><a class="dropdown-item px-3" href="#gadgets">GADGETS</a></li>
                                <li><a class="dropdown-item px-3" href="#hogar">HOGAR Y ELECTRODOMÉSTICOS</a></li>
                                <li><a class="dropdown-item px-3" href="#informatica">INFORMÁTICA Y GAMING</a></li>
                                <li><a class="dropdown-item px-3" href="#iluminacion">ILUMINACIÓN</a></li>
                                <li><a class="dropdown-item px-3" href="#pilas">PILAS</a></li>
                                <li><a class="dropdown-item px-3" href="#soportes">SOPORTES PARA AUTO</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="contactenos.html">Contáctenos</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark d-inline p-5" href="./views/perfil.html">
                                <img src="public/images/icons/user.svg" class="icon" alt="User Icon" />
                            </a>
                            <a class="nav-link text-dark d-inline p-5" href="./views/carrito.html">
                                <img src="public/images/icons/cart.svg" class="icon" alt="Cart Icon" />
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Products-->
    <main class="p-main" id="offersAndReleases">
        <section class="new-releases-section">
            <h2 class="new-releases-section__title">
                <span>ÚLTIMOS LANZAMIENTOS</span>
            </h2>

            <div class="new-releases-section__list">

                <div class="horizontal-container">
                    <div class="horizontal-container--img">
                        <img src="/public/images/soporte_celular.png" alt="Producto Destacado 1" />
                    </div>

                    <div class="horizontal-container--description">
                        <h4>Trípode Flexible</h4>

                        <ul>
                            <li>Enganche a presión con 3 patas flexibles adaptables</li>
                            <li>Altura mínima: 7cm.<br>Altura máxima: 11cm.</li>
                            <li>Ideal para capturar tus mejores momentos</li>
                        </ul>

                        <a href="producto.html">VER MÁS</a>
                    </div>
                </div>

                <div class="horizontal-container">
                    <div class="horizontal-container--img">
                        <img src="/public/images/hdmi.png" alt="Producto Destacado 1" />
                    </div>

                    <div class="horizontal-container--description">
                        <h4>Cable HDMI</h4>

                        <ul>
                            <li>V1.4 Mallado</li>
                            <li>Longitud del cable: 1.5m.</li>
                            <li>Ideal para ver tu contenido en distintos dispositivos</li>
                        </ul>

                        <a href="producto.html">VER MÁS</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="offers-section">
            <h2 class="offers-section__title">
                <span>OFERTAS</span>
            </h2>

            <div class="offers-section__list">
                <div class="horizontal-container">
                    <div class="horizontal-container--img">
                        <img src="/public/images/teclado.png" alt="Producto Destacado 1" />
                    </div>

                    <div class="horizontal-container--description">
                        <h4>Teclado USB</h4>

                        <ul>
                            <li>Posee 104 teclas con excelente sensibilidad al tacto</li>
                            <li>Longitud del cable: 1.5m.</li>
                            <li>Diseño ergonómico, portable y compacto</li>
                            <li>El mejor complemento para todas tus actividades</li>
                        </ul>

                        <a href="producto.html">VER MÁS</a>
                    </div>
                </div>

                <div class="horizontal-container">
                    <div class="horizontal-container--img">
                        <img src="/public/images/termos.png" alt="Producto Destacado 1" />
                    </div>

                    <div class="horizontal-container--description">
                        <h4>Pava Eléctrica</h4>

                        <ul>
                            <li>Capacidad para 1.8l.</li>
                            <li>Control de temperatura con apagado automático</li>
                            <li>Material de acero inoxidable</li>
                            <li>Potencia de 1500 WATTS</li>
                        </ul>

                        <a href="producto.html">VER MÁS</a>
                    </div>
                </div>
            </div>

        </section>

        <section class="products-section">
            <h2 id="accesoriosTV">
                <span>ACCESORIOS PARA TV</span>
            </h2>
            <div class="products-section__list">
                <h3>
                    <span>PRÓXIMAMENTE</span>
                </h3>
            </div>

            <h2 id="almacenamiento">
                <span>ALMACENAMIENTO</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/usb.png" alt="Producto Destacado 1" />
                        </a>
                    </div>

                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Pendrive 32GB Verbatim</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
            </div>

            <h2 id="audio">
                <span>AUDIO</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/inpods.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Auriculares Inpods I12</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>
                </div>
            </div>

            <h2 id="cargadores">
                <span>CARGADORES</span>
            </h2>
            <div class="products-section__list">
                <h3>
                    <span>PRÓXIMAMENTE</span>
                </h3>
            </div>

            <h2 id="gadgets">
                <span>GADGETS</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/soporte_celular.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Trípode Flexible</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>

                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/camara_web.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Cámara Web HD</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>

                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/reloj.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Reloj Smartband M3</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/auxiliar.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Cable Auxiliar</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/hdmi.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Cable HDMI</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
            </div>

            <h2 id="hogar">
                <span>HOGAR Y ELECTRODOMÉSTICOS</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/pico_cebador.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Pico Cebador</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>

                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/balanza_digital.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Balanza Pocket</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>

                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/balanza_digital2.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Balanza de Cocina</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/termos.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Pava Eléctrica</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
            </div>

            <h2 id="informatica">
                <span>INFORMÁTICA Y GAMING</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/mouse.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Mouse Inalámbrico</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/teclado.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Teclado USB</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/mouse_gamer.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Mouse Gamer NOGA</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/teclado_gamer.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Teclado Retroiluminado NOGA</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/pad.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Mousepad Gamer RGB NOGA</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>

            </div>

            <h2 id="iluminacion">
                <span>ILUMINACIÓN</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/led.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Aro 26´ Luz LED</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/tira_led.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Tira Luz RGB</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
            </div>

            <h2 id="pilas">
                <span>PILAS</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/pilas_aa.jpeg" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Pilas AA Fulltotal X4</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/pilas_aaa.jpeg" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Pilas AAA Fulltotal X4</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/cargadorpilas.jpeg" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Cargador de Pilas NOGA</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
            </div>

            <h2 id="soportes">
                <span>SOPORTES PARA AUTO</span>
            </h2>
            <div class="products-section__list">
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/soporte_auto.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Holder Netmark Magnético</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
                <div class="product-card">
                    <div class="product-card--img">
                        <a href="producto.html">
                            <img src="/public/images/soporte_auto2.png" alt="Producto Destacado 1" />
                        </a>
                    </div>
                    <div class="product-card--description">
                        <h4>$223</h4>
                        <p>Holder Sopapa</p>

                        <button class="product-card--description__button">
                            Agregar al Carrito
                        </button>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <!--Social Media Accounts-->
    <div class="social-media">
        <a href="https://www.facebook.com/Just-Call-Fast-106379838279721" target="_blank">
            <img src="/public/images/icons/facebook.svg" alt="Facebook Icon" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=542235182817" target="_blank">
            <img src="/public/images/icons/whatsapp.svg" alt="WhatsApp Icon" />
        </a>

        <a href="https://instagram.com/justcallfast?igshid=144hfg73922sy" target="_blank">
            <img src="/public/images/icons/instagram-icon.svg" alt="Instagram Icon" />
        </a>
    </div>

    <!--Page´s Footer-->
    <footer class="footer">
        Copyright © 2021 | Just Call Fast. All rights reserved.
    </footer>

</body>

</html>