::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  min-width: 300px;
}

#logo {
  width: 300px;
  padding: 10px;
  -webkit-filter: drop-shadow(0 0 15px rgba(255, 166, 0, 0.808));
          filter: drop-shadow(0 0 15px rgba(255, 166, 0, 0.808));
}

.display-3 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-top: 20px;
}

.transparent, .product__img, .card__img, .horizontal-card__img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(145.54deg, rgba(255, 255, 255, 0.4) 9.57%, rgba(255, 255, 255, 0) 70.35%), rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.border-radius-0 {
  border-radius: 0;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-20 {
  border-radius: 20px;
}

.border-radius-30, .categories__img img, .product__img, .product__description {
  border-radius: 30px;
}

.border-radius-40, .product__description--button {
  border-radius: 40px;
}

.border-radius-50, .horizontal-card__body__link {
  border-radius: 50px;
}

.hero {
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.686)), to(rgba(255, 255, 255, 0.347))), url("/public/images/fondo.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.686), rgba(255, 255, 255, 0.347)), url("/public/images/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
  text-align: center;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  width: 100%;
}

.categories {
  background-image: url("/public/images/patterns/d-pattern.png");
  padding: 40px 0 40px 0;
  margin-top: 50px;
  color: #f7f7f7;
}

.categories__title {
  color: #f7f7f7;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.categories__img {
  width: 250px;
  margin-bottom: 500px;
  margin: 0 15px;
}

.categories__img img {
  width: 100%;
  -webkit-box-shadow: 0 0 10px #f7f7f7;
          box-shadow: 0 0 10px #f7f7f7;
}

.categories .d-flex {
  gap: 35px;
}

/* LANDSCAPE PHONES */
@media (min-width: 576px) {
  .categories__title {
    font-size: 3rem;
    margin-bottom: 25px;
  }
  .categories__img {
    width: 300px;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  .categories__title {
    font-size: 4rem;
  }
  .categories__img {
    width: 350px;
  }
}

/* DESKTOPS */
@media (min-width: 992px) {
  .categories__title {
    font-size: 5rem;
  }
  .categories__img {
    width: 400px;
    margin-bottom: 45px;
  }
  .categories__img img {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }
  .categories__img img:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-box-shadow: 0 0 40px #ffc107;
            box-shadow: 0 0 40px #ffc107;
  }
  .display-3 {
    font-size: 6rem;
  }
}

/* LARGE DESKTOPS */
@media (min-width: 1200px) {
  .categories__img {
    width: 475px;
  }
}

.p-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 0;
      grid-template-areas: "new-releases-section" "offers-section" "products-section";
  background-color: #f7f7f7;
}

.new-releases-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: new-releases-section;
}

.new-releases-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  margin-bottom: 20px;
}

.offers-section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: offers-section;
  padding-bottom: 30px;
  background-color: #ebebeb;
}

.offers-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.products-section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: products-section;
}

.products-section h2 {
  text-align: center;
  padding-top: 24px;
  margin: 0;
  border-top: 20px solid #ffc107;
}

.products-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 30px 0;
}

/* DESKTOPS */
@media (min-width: 992px) {
  .p-main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "new-releases-section offers-section" "products-section products-section";
  }
  .new-releases-section {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: new-releases-section;
    background-color: #ebebeb;
  }
  .new-releases-section__list {
    gap: 20px;
  }
  .offers-section {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: offers-section;
  }
  .offers-section__list {
    gap: 20px;
  }
  .products-section {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: products-section;
  }
  .products-section h2 {
    text-align: start;
    padding-left: 10rem;
  }
}

.product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "product__img product__description";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.product__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: product__img;
  width: 450px;
  height: 450px;
  margin-right: 30px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.product__img img {
  width: 100%;
  height: 100%;
}

.product__description {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: product__description;
  width: 60%;
  height: 100%;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 0 8px #000;
          box-shadow: 0 0 8px #000;
  text-align: center;
}

.product__description h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  padding-top: 15px;
}

.product__description ul {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  margin-bottom: 16px;
  text-align: start;
  margin-left: 20%;
}

.product__description li {
  padding: 15px 0;
}

.product__description h3 {
  display: inline;
  font-family: "Bebas Neue", cursive;
  font-size: 7rem;
  letter-spacing: 0.4rem;
  font-weight: bold;
  padding-top: 15px;
}

.product__description--button {
  background-color: #ffc107;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  padding: 8px;
  margin: 0 0 30px 40px;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  border: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.product__description--button:hover {
  background-color: #f7f7f7;
}

.contact-form-style {
  -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow: inset 0 0 10px #000000;
  background-color: #0000003f;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.535)), to(rgba(0, 0, 0, 0.686))), url("/public/images/fondo_contacto.png");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.535), rgba(0, 0, 0, 0.686)), url("/public/images/fondo_contacto.png");
  background-size: cover;
  margin: 20px 5px 20px 5px;
  padding: 25px;
}

.contact-form-style fieldset {
  border: none;
}

.contact-form-style textarea {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 4px #000000;
          box-shadow: inset 0 0 4px #000000;
  resize: none;
}

.contact-form-style input[type=submit] {
  width: 200px;
  background-color: #ffc107;
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  padding: 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.contact-form-style input[type=text],
input[type=email],
select {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  width: 300px;
  padding: 20px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 4px #000000;
          box-shadow: inset 0 0 4px #000000;
}

/* DESKTOPS */
@media (min-width: 992px) {
  .contact-form-style textarea {
    font-size: 20px;
    width: 400px;
  }
  .contact-form-style input[type=submit] {
    font-size: 25px;
  }
  .contact-form-style input[type=submit]:hover {
    background-color: black;
    color: #f7f7f7;
    -webkit-box-shadow: 0 0 10px #ffc107;
            box-shadow: 0 0 10px #ffc107;
  }
  .contact-form-style input[type=text],
  input[type=email],
  select {
    font-size: 20px;
    width: 400px;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar {
  -webkit-box-shadow: 0 0 9px #000000;
          box-shadow: 0 0 9px #000000;
}

.navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.nav-item {
  padding: 10px 40px;
}

.nav-item a {
  font-family: "Bebas Neue", cursive;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  color: #000;
}

.nav-item img {
  width: 100px;
}

.nav-item :hover {
  background-color: #000;
  color: #f7f7f7;
}

/* LANDSCAPE PHONES */
@media (min-width: 576px) {
  .nav-item a {
    font-size: 2.5rem;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 4.5rem;
  }
  .nav-item a {
    font-size: 3rem;
  }
}

/* DESKTOPS */
@media (min-width: 992px) {
  header {
    position: static;
  }
}

.card, .horizontal-card {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0 0 2px #000000;
          box-shadow: 0 0 2px #000000;
  margin: 12px;
}

.card__img, .horizontal-card__img {
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.card__img img, .horizontal-card__img img {
  width: 100%;
  height: 100%;
}

.card__body, .horizontal-card__body {
  background-color: #f7f7f7;
  font-family: "Oswald", sans-serif;
}

.card__body__title {
  font-size: 2.5rem;
  padding: 10px 0 0 10px;
}

.card__body__subtitle {
  font-size: 1.75rem;
  text-align: right;
  padding: 10px 10px 10px 0px;
}

.card__body__button {
  font-size: 1.75rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #ffc107;
  color: #000;
  border: none;
  width: 100%;
  padding: 10px;
}

.horizontal-card__body {
  text-align: center;
  padding: 0 10px 20px 10px;
}

.horizontal-card__body__title {
  font-size: 2.5rem;
  padding-top: 15px;
}

.horizontal-card__body__list {
  font-size: 1.75rem;
  margin: 10px 0 20px 0;
  text-align: start;
  list-style-type: none;
  padding: 0;
}

.horizontal-card__body__list li {
  padding: 4px 0;
}

.horizontal-card__body__link {
  background-color: #ffc107;
  font-size: 1.75rem;
  padding: 3px 15px;
  -webkit-box-shadow: 0 0 9px #000;
          box-shadow: 0 0 9px #000;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  color: #000;
}

/* LANDSCAPE PHONES */
@media (min-width: 576px) {
  .card__body__title {
    font-size: 3rem;
  }
  .card__body__subtitle {
    font-size: 2rem;
  }
  .card__body__button {
    font-size: 2rem;
  }
  .horizontal-card__body__title {
    font-size: 3rem;
  }
  .horizontal-card__body__list {
    font-size: 2rem;
  }
  .horizontal-card__body__link {
    font-size: 2rem;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  .card__img, .horizontal-card__img {
    height: 300px;
    width: 300px;
  }
  .card__body__title {
    font-size: 3.5rem;
  }
  .card__body__subtitle {
    font-size: 3rem;
  }
  .card__body__button {
    font-size: 3rem;
  }
  .horizontal-card__body__title {
    font-size: 3.5rem;
  }
  .horizontal-card__body__list {
    font-size: 2.5rem;
  }
  .horizontal-card__body__link {
    font-size: 3rem;
  }
}

/* DESKTOPS */
@media (min-width: 992px) {
  .card, .horizontal-card {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    position: relative;
    border-radius: 40px;
  }
  .card__img, .horizontal-card__img {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    position: relative;
    border-radius: 40px;
    width: 350px;
    height: 350px;
  }
  .card__body, .horizontal-card__body {
    height: 0;
    position: relative;
    -webkit-transform: translateY(-145px);
            transform: translateY(-145px);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    opacity: 0;
  }
  .card__body__button {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .card__body__button:hover {
    background-color: #000;
    color: #f7f7f7;
  }
  .card:hover, .horizontal-card:hover {
    -webkit-box-shadow: 0 0 10px #000000;
            box-shadow: 0 0 10px #000000;
    border-radius: 0;
  }
  .card:hover .card__img, .horizontal-card:hover .card__img, .card:hover .horizontal-card__img, .horizontal-card:hover .horizontal-card__img {
    border-radius: 0;
  }
  .card:hover .card__body, .horizontal-card:hover .card__body, .card:hover .horizontal-card__body, .horizontal-card:hover .horizontal-card__body {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 154px;
    opacity: 1;
  }
  .card:hover .card__body__button, .horizontal-card:hover .card__body__button {
    border-radius: 0;
  }
  .horizontal-card {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    overflow: hidden;
  }
  .horizontal-card__img {
    border-radius: 0;
  }
  .horizontal-card__body {
    height: auto;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .horizontal-card__body__link:hover {
    background-color: #000;
    color: #f7f7f7;
  }
  .horizontal-card:hover .horizontal-card__img {
    border-radius: 0;
  }
  .horizontal-card:hover .horizontal-card__body {
    -webkit-transform: none;
            transform: none;
    height: auto;
    opacity: 1;
    border-radius: 0;
  }
  .horizontal-card:hover .horizontal-card__body__button {
    border-radius: 0;
  }
}

footer {
  padding: 10px;
  font-family: "Bebas Neue", cursive;
  -webkit-box-shadow: 0 0 9px #000000;
          box-shadow: 0 0 9px #000000;
}

.sn-icon {
  width: 2rem;
}

.footer-text {
  font-size: 1rem;
}

/* LANDSCAPE PHONES */
@media (min-width: 576px) {
  .sn-icon {
    width: 4rem;
  }
  .footer-text {
    font-size: 2rem;
  }
}

/* TABLETS */
@media (min-width: 768px) {
  .sn-icon {
    width: 5rem;
  }
  .footer-text {
    font-size: 2.4rem;
    margin: 0 15px 0 15px;
  }
}

/* DESKTOPS */
@media (min-width: 992px) {
  .sn-icon {
    width: 6rem;
    margin: 0 30px 0 30px;
  }
  .footer-text {
    font-size: 3.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */