.contact-form-style {
    box-shadow: $black-inset-shadow-10;
    font-family: $text-font;
    font-size: 30px;
    text-align: center;
    color: $blanco;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.686), rgba(255, 255, 255, 0.535)), url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 5px 20px 5px;
    padding: 25px;

    & fieldset {
        border: none;
    }

    & textarea {
        font-family: $text-font;
        font-size: 15px;
        width: 250px;
        height: 200px;
        padding: 20px;
        margin: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: $black-inset-shadow-4;
        resize: none;
    }

    & input[type=submit] {
        width: 200px;
        background-color: $amarillo;
        color: black;
        font-family: $title-font;
        font-size: 20px;
        padding: 15px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 0 10px black;
        transition-duration: 1s;
    }
}

.contact-form-style input[type=text],
input[type=email],
select {
    font-family: $text-font;
    font-size: 15px;
    width: 250px;
    padding: 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: $black-inset-shadow-4;
}

/* DESKTOPS */
@media (min-width: 992px) {
    .contact-form-style {
        & textarea {
            font-size: 20px;
            width: 400px;
        }

        & input[type=submit] {
            font-size: 25px;

            &:hover {
                background-color: black;
                color: $blanco;
                box-shadow: 0 0 10px $amarillo;
            }
        }
    }

    .contact-form-style input[type=text],
    input[type=email],
    select {
        font-size: 20px;
        width: 400px;
    }
}