.hero {
    box-shadow: $black-inset-shadow-10;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.686), rgba(255, 255, 255, 0.347)), url("/public/images/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    text-align: center;
}

.carousel-item {
    height: 500px;

    & img {
        width: 100%;
    }
}

.categories {
    background-image: url("/public/images/patterns/d-pattern.png");
    padding: 40px 0 40px 0;
    margin-top: 50px;
    color: $blanco;

    &__title {
        color: $blanco;
        font-family: $title-font;
        letter-spacing: 0.3rem;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
    }

    &__img {
        width: 250px;
        margin-bottom: 500px;
        margin: 0 15px;

        & img {
            width: 100%;
            @extend .border-radius-30;
            box-shadow: 0 0 10px $blanco;
        }
    }

    & .d-flex {
        gap: 35px;
    }
}

/* LANDSCAPE PHONES */
@media (min-width: 576px) {

    .categories {
        &__title {
            font-size: 3rem;
            margin-bottom: 25px;
        }

        &__img {
            width: 300px;
        }
    }
}

/* TABLETS */
@media (min-width: 768px) {

    .categories {
        &__title {
            font-size: 4rem;
        }

        &__img {
            width: 350px;
        }
    }
}

/* DESKTOPS */
@media (min-width: 992px) {

    .categories {
        &__title {
            font-size: 5rem;
        }

        &__img {
            width: 400px;
            margin-bottom: 45px;

            & img {
                transition-duration: 1s;
                filter: grayscale(1);

                &:hover {
                    filter: none;
                    box-shadow: 0 0 40px $amarillo;
                }
            }
        }
    }

    .display-3 {
        font-size: 6rem;
    }
}

/* LARGE DESKTOPS */
@media (min-width: 1200px) {
    .categories__img {
        width: 475px;
    }
}