.p-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "new-releases-section offers-section"
        "products-section products-section";
}

/* HORIZONTAL PRODUCT´S CARD */

.horizontal-container {
    display: grid;
    grid-template-areas: "horizontal-container__img horizontal-container__description";
    grid-template-columns: 1fr 1fr;
    width: 700px;
    height: 300px;
    margin: 0 15px 50px 15px;
    justify-items: center;
    align-items: center;
    transition-duration: 1s;

    &:hover {
        box-shadow: 0 0 10px $blanco;
    }

    &__img {
        @extend .transparent;

        grid-area: horizontal-container__img;
        width: 350px;
        height: 300px;

        backdrop-filter: blur(8px);

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__description {
        grid-area: horizontal-container__description;
        justify-self: stretch;
        align-self: stretch;
        text-align: center;
        padding: 0 1px;

        & h4 {
            font-family: $title-font;
            font-size: 5rem;
            letter-spacing: 0.4rem;
            font-weight: bold;
            color: $amarillo;
            padding-top: 15px;
        }

        & ul {
            list-style-type: none;
            font-family: $text-font;
            font-size: 2.5rem;
            color: $blanco;
            margin-bottom: 16px;
        }

        & li {
            padding: 4px 0;
        }

        & a {
            @extend .border-radius-50;
            background-color: $amarillo;
            font-family: $text-font;
            font-size: 3rem;
            padding: 1px 30px;
            box-shadow: 0 0 9px #000;
            transition-duration: 1s;
            color: #000;
        }
    }
}

.horizontal-container__description a:hover {
    background-color: $blanco;
}

.new-releases-section {
    grid-area: new-releases-section;
    padding-top: 20px;
    background-image: url("/public/images/patterns/d-pattern.png");

    &__title {
        text-align: center;
        margin-top: 20px;

        & span {
            font-family: $text-font;
            font-size: 4rem;
            padding: 5px;
            letter-spacing: 1rem;
            box-shadow: 0 0 9px $blanco;
            color: $blanco;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
        padding-top: 40px;
        @extend .border-radius-30;
    }
}

.offers-section {
    grid-area: offers-section;
    padding-top: 20px;
    background-image: url("/public/images/patterns/d-pattern.png");

    &__title {
        text-align: center;
        margin-top: 20px;

        & span {
            font-family: $text-font;
            font-size: 4rem;
            padding: 5px;
            letter-spacing: 1rem;
            box-shadow: 0 0 9px $blanco;
            color: $blanco;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
        padding-top: 40px;
        @extend .border-radius-30;
    }
}

.products-section {
    grid-area: products-section;

    & h2 {
        box-shadow: 0 0 9px #000000;
        background-color: $amarillo;
        padding: 2rem 0;
        text-align: center;

        & span {
            font-family: $text-font;
            font-size: 4rem;
            letter-spacing: 0.5rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        padding: 30px 0;
    }

    & h3 span {
        font-family: $text-font;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }
}