.card {
    width: min-content;
    height: min-content;
    box-shadow: $black-shadow-2;
    margin: 12px;

    &__img {
        @extend .transparent;

        height: 250px;
        width: 250px;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        background-color: $blanco;
        font-family: $text-font;

        &__title {
            font-size: 2.5rem;
            padding: 10px 0 0 10px;
        }

        &__subtitle {
            font-size: 1.75rem;
            text-align: right;
            padding: 10px 10px 10px 0px;
        }

        &__button {
            font-size: 1.75rem;
            align-self: flex-end;
            background-color: #ffc107;
            color: #000;
            border: none;
            width: 100%;
            padding: 10px;
        }
    }
}

.horizontal-card {
    @extend .card;

    &__img {
        @extend .card__img;
    }

    &__body {
        @extend .card__body;
        text-align: center;
        padding: 0 10px 20px 10px;

        &__title {
            font-size: 2.5rem;
            padding-top: 15px;
        }

        &__list {
            font-size: 1.75rem;
            margin: 10px 0 20px 0;
            text-align: start;
            padding: 0 15px;

            & li {
                padding: 4px 0;
            }
        }

        &__link {
            @extend .border-radius-50;
            background-color: $amarillo;
            font-size: 1.75rem;
            padding: 3px 15px;
            box-shadow: 0 0 9px #000;
            transition-duration: 1s;
            color: #000;
        }
    }
}



/* LANDSCAPE PHONES */
@media (min-width: 576px) {
    .card__body {
        &__title {
            font-size: 3rem;
        }

        &__subtitle {
            font-size: 2rem;
        }

        &__button {
            font-size: 2rem;

        }
    }

    .horizontal-card__body {
        &__title {
            font-size: 3rem;
        }

        &__list {
            font-size: 2rem;
        }

        &__link {
            font-size: 2rem;
        }
    }
}

/* TABLETS */
@media (min-width: 768px) {
    .card {
        &__img {
            height: 300px;
            width: 300px;
        }

        &__body {
            &__title {
                font-size: 3.5rem;
            }

            &__subtitle {
                font-size: 3rem;
            }

            &__button {
                font-size: 3rem;
            }
        }
    }

    .horizontal-card__body {
        &__title {
            font-size: 3.5rem;
        }

        &__list {
            font-size: 2.5rem;
            padding: 0 30px;
        }

        &__link {
            font-size: 3rem;
        }
    }
}

/* DESKTOPS */
@media (min-width: 992px) {
    .card {
        transition-duration: 1s;
        position: relative;
        border-radius: 40px;

        &__img {
            transition-duration: 1s;
            position: relative;
            border-radius: 40px;
            width: 350px;
            height: 350px;
        }

        &__body {
            height: 0;
            position: relative;
            transform: translateY(-145px);
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            transition-duration: 1s;
            opacity: 0;

            &__button {
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
                transition-duration: 1s;

                &:hover {
                    background-color: #000;
                    color: $blanco;
                }
            }
        }

        &:hover {
            box-shadow: 0 0 10px #000000;
            border-radius: 0;
        }
    }

    .card:hover .card__img {
        border-radius: 0;
    }

    .card:hover .card__body {
        transform: translateY(0);
        height: 149px;
        opacity: 1;
    }

    .card:hover .card__body__button {
        border-radius: 0;
    }

    .horizontal-card {
        height: min-content;
        overflow: hidden;

        &__img {
            border-radius: 0;
        }

        &__body {
            height: auto;
            opacity: 1;
            transform: translateY(0);

            &__link {
                &:hover {
                    background-color: #000;
                    color: $blanco;
                }
            }
        }

        &:hover {
            box-shadow: $white-shadow-9;
        }
    }

    .horizontal-card:hover .horizontal-card__img {
        border-radius: 0;
    }

    .horizontal-card:hover .horizontal-card__body {
        transform: none;
        height: auto;
        opacity: 1;
        border-radius: 0;
    }

    .horizontal-card:hover .horizontal-card__body__button {
        border-radius: 0;
    }
}